[submodule "01EX-HTMLBasisDeel1-CSSIntro"]
	path = 01EX-HTMLBasisDeel1-CSSIntro
	url = https://github.com/EmiliaKitten/01EX-HTMLBasisDeel1-CSSIntro
[submodule "02EX-HTMLBasisDeel2"]
	path = 02EX-HTMLBasisDeel2
	url = https://github.com/EmiliaKitten/02EX-HTMLBasisDeel2
